.section-title {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.section-card {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
    background-color: #343434;
    margin: 5px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.06);
    box-shadow: 0 0 25px #343434;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    color: #fff;
}