<section id="section4">
    <h2 class="section-title">Habilidades Tecnicas</h2>
    <div class="section-card">
        <div class="card">
            <img src="assets/skills/springboot.png" alt="Springboot">
            <p class="card-title">Springboot</p>
        </div>
        <div class="card">
            <img src="assets/skills/angular.png" alt="Angular">
            <p class="card-title">Angular</p>
        </div>
        <div class="card">
            <img src="assets/skills/react.png" alt="React">
            <p class="card-title">React</p>
        </div>
        <div class="card">
            <img src="assets/skills/java.png" alt="Java">
            <p class="card-title">Java</p>
        </div>
        <div class="card">
            <img src="assets/skills/node-js.png" alt="NodeJS">
            <p class="card-title">Node JS</p>
        </div>
        <div class="card">
            <img src="assets/skills/javascript.png" alt="Javascript">
            <p class="card-title">Javascript</p>
        </div>
        <div class="card">
            <img src="assets/skills/typescript.png" alt="Typescript">
            <p class="card-title">Typescript</p>
        </div>
        <div class="card">
            <img src="assets/skills/html.png" alt="HTML">
            <p class="card-title">HTML</p>
        </div>
        <div class="card">
            <img src="assets/skills/css.png" alt="CSS">
            <p class="card-title">CSS</p>
        </div>
    </div>
</section>