.education {
  position: relative;
  margin: 4rem 0;
  color: var(--primary-bg-color);
}

.education_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.education_info {
  background-color: var(--secondary-text-color);
  border-radius: 2rem;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
  text-align: baseline;
  padding: 2rem;
}

.education_info:hover {
  background: var(--secondary-text-color);
  border: 5px solid var(--primary-text-color);
}

.title {
  color: var(--primary-text-color);
  font-size: 4rem;
  font-weight: 700;
}

.primary_title {
  color: var(--primary-bg-color);
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 3px solid var(--primary-bg-color);
  margin-bottom: 1rem;
}

.description {
  color: var(--primary-text-color);
  font-size: 2.6rem;
}

@media (max-width: 768px) {
  .education_container {
    display: flex;
    flex-direction: column;
  }
  .education_box {
    display: block;
  }
  .education_info {
    padding: 1rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .primary_title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1.6rem;
  }
}