.home_link {
  position: relative;
  font-size: 1.5rem;
  padding: 0.5rem;
}
  
.link, .data_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  color: var(--primary-text-color);
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  gap: 1.5rem;
  transition: 0.3s ease-in-out;
}

.link_data, .data_text {
  font-size: 2vw;
  margin: 0 auto;
}

.link:hover {
  transform: scale(1) translateY(-5px);
}

.clipboard_text {
  position: absolute;
  right: 3rem;
  top: -2rem;
  background-color: green;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.clipboard_icon {
  width: 2rem;
  cursor: pointer;
}

.btn {
  width: 100%;
  margin-top: 0.6rem;
  padding: 0.8rem;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  box-shadow: 0 0 20px var(--secondary-text-color);
  border-radius: 4rem;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.04);
  box-shadow: 0 0 30px var(--secondary-text-color);
}

@media (max-width: 991px) {
  .home_link {
    padding: 0;
  }
  
  .link_list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }

  .link, .data_content {
    display: flex;
    justify-content: center;
    margin: 0.4rem 0;
    padding: 0.3rem 0.4rem;
  }

  .link_data {
    display: none;
  }

  .data_text {
    font-size: 6vw;
  }

  .btn {
    padding: 0.7rem;
    font-size: 1em;
  }
}