* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #0a0a0a;
    font-family: Arial, sans-serif;
    color: #332ae3;
}

section {
    min-height: 100vh;
    padding: 5rem 10% 5rem;
}

section[id] {
    scroll-margin-top: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #332ae3;
    box-shadow: 0 0 25px #332ae3;
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #332ae3;
}
