.timeline {
  margin-bottom: 6rem;
}
.timeline_title {
  width: 15%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  padding: 1.6rem 2.6rem;
  border-radius: 40%;
  box-shadow: 0 0 30px var(--secondary-text-color);
}

.timeline_items {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline_items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--secondary-text-color);
  left: calc(50% - 1px);
}

.timeline_item {
  margin-bottom: 2.5rem;
  width: 100%;
  position: relative;
}

.timeline_item:last-child {
  margin-bottom: 0;
}

.timeline_dot {
  height: 21px;
  width: 21px;
  background-color: var(--secondary-text-color);
  box-shadow: 0 0 25px var(--secondary-text-color), 0 0 50px var(--secondary-text-color);
  position: absolute;
  left: calc(50% - 9px);
  border-radius: 50%;
  top: 0px;
}

.timeline_item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline_item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline_date {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-text-color);
  margin: 1.2rem 0 1.6rem;
}

.timeline_content {
  background-color: var(--primary-bg-color);
  border: 3px solid var(--secondary-text-color);
  padding: 1.5rem 2rem;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--secondary-text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline_content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--secondary-text-color);
}

.timeline_content h3 {
  font-size: 3rem;
  color: var(--primary-text-color);
  margin: 0 0 1.3rem;
  font-weight: 600;
}

.timeline_content p {
  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: 300;
}


@media (max-width: 768px) {
  .timeline_items {
    width: 100%;
  }
  .timeline_title {
    width: 50%;
    font-size: 1.5rem;
  }
  .timeline_date {
    font-size: 1.5rem;
  }
  .timeline_content h3 {
    font-size: 1.8rem;
  }
  .timeline_content p {
    font-size: 1.5rem;
  }

  .timeline_item:nth-child(odd) {
    padding-right: 0;
  }
  .timeline_item:nth-child(even) {
    padding-left: 0;
  }
}