<div class="title-section">
    <h1>Me llamo Felipe Ignacio Alarcón Contreras</h1>
    <h3>Full-Stack Developer</h3>
</div>

<div>
    <h4>Acerca de mí</h4>
    <p>Soy un desarrollador web con mas de 4 años de experienca en el rubro.</p>
    <p>Cuento con un titulo de Ingeniería en Informática y Analista Programador.</p>
</div>

<div class="section">
    <h3>Contactos</h3>
    <ul class="list">
        <li><h5>Correo</h5> <h5>felipealarcon44&#64;gmail.com</h5></li>
        <li><h5>Whatsapp</h5> <h5>+56950655634</h5></li>
        <li>
            <h5>Linkedin</h5>
            <img src="assets/img/LinkedIn_icon.png" alt="Logo" class="logo" (click)="redirectWindow()">
        </li>
    </ul>
</div>

<div>
    <h3>Educación</h3>
    <h4>IP Santo Tomas</h4>
    <img src="assets/img/santo-tomas.png" alt="santo-tomas" height="80" width="80" />
    <ul>
        <li><h5>Analista Programador</h5></li>
        <li><h5>Ingeniería en Informática</h5></li>
    </ul>
</div>
<br>
<div>
    <h3>Experiencia</h3>
    <div>
        <h4>NTT DATA</h4>
        <img src="assets/img/ntt-data.png" alt="ntt-data" height="80" width="80">
    
        <div>
            <h5>13/01/2020 - 24/12/2022 (2 años)</h5>
            <h5>Desarrollador Full-stack</h5>
            <p>
            He trabajado en la creación de un aplicativo web llamado “New LDI”, 
            el cual sirve para toda la gestión de los clientes de larga distancia y del Carrier 188 y 181.
            </p>
        </div>
        <div>
            <h5>14-12-2021 - 01-12-2022 (1 años)</h5>
            <h5>Desarrollador Mobile</h5>
            <p>
            He trabajado en el mantenimiento de una aplicación movil de llamada “App Delivery”, 
            el cual sirve para que los despachadores de quipos moviles puedan gestionar las entregas. 
            </p>
        </div>
        <div>
            <h5>15-10-2023 - 30-03-2024 (5 meses)</h5>
            <h5>Desarrollador Full-stack</h5>
            <p>
            He trabajado en el desarrollo un aplicativo web llamado "Resolutor Web", 
            que sirve para poder gestionar los reclamos de la atención al cliente de Movistar TV.
            </p>
        </div>
        <div>
            <h5>05-01-2023 - Actualmente (1.5 años)</h5>
            <h5>Desarrollador Full-stack</h5>
            <p>
            Estoy trabajando en el mantenimiento de un aplicativo de llamado “Registro MTV”, 
            el cual sirve para que un cliente pueda registrarse y activar el servicio Movistar TV. 
            </p>
        </div>
    </div>
    
    <div>
        <h3>Habilidades Tecnicas</h3>
        <div class="section-card">
            <div class="card">
                <img src="assets/skills/springboot.png" alt="Springboot" height="80" width="80">
                <p class="card-title">Springboot</p>
            </div>
            <div class="card">
                <img src="assets/skills/angular.png" alt="Angular" height="80" width="80">
                <p class="card-title">Angular</p>
            </div>
            <div class="card">
                <img src="assets/skills/java.png" alt="Java" height="80" width="80">
                <p class="card-title">Java</p>
            </div>
            <div class="card">
                <img src="assets/skills/javascript.png" alt="Javascript" height="80" width="80">
                <p class="card-title">Javascript</p>
            </div>
            <div class="card">
                <img src="assets/skills/typescript.png" alt="Typescript" height="80" width="80">
                <p class="card-title">Typescript</p>
            </div>
            <div class="card">
                <img src="assets/skills/html.png" alt="HTML" height="80" width="80">
                <p class="card-title">HTML</p>
            </div>
            <div class="card">
                <img src="assets/skills/css.png" alt="CSS" height="80" width="80">
                <p class="card-title">CSS</p>
            </div>
        </div>
    </div>
</div>
