:root {
  --primary-text-color: #fff;
  --secondary-text-color: #332ae3;
  --primary-bg-color: #0a0a0a;
  --secondary-bg-color: #008c99;
  --height-navbar: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  width: 100%;
}

main {
  position: relative;
  top: var(--height-navbar);
  height: calc(100% - var(--height-navbar));
}

section {
  position: relative;
  padding: 1rem;
}

section[id] {
  scroll-margin-top: var(--height-navbar);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
}

.heading {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-text-color);
  text-shadow: .4rem .4rem .7rem rgba(252, 252, 252, 0.3),
                -.4rem -.4rem .7rem rgba(252, 252, 252, 0.3);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text-color);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-bg-color);
}