:root {
  --primary-text-color: #fff;
  --secondary-text-color: #332ae3;
  --primary-bg-color: #0a0a0a;
  --secondary-bg-color: #008c99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
}

main {
  top: 10rem;
}

section {
  padding: 5rem 3rem;
}

section[id] {
  scroll-margin-top: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.heading {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-text-color);
  text-shadow: .4rem .4rem .7rem rgba(252, 252, 252, 0.3),
                -.4rem -.4rem .7rem rgba(252, 252, 252, 0.3);
}

.btn {
  display: inline-block;
  padding: 2rem 3rem;
  background-color: var(--secondary-text-color);
  box-shadow: 0 0 25px var(--secondary-text-color);
  border-radius: 4rem;
  border: 2px solid transparent;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-text-color);
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--secondary-text-color);
}

.banner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--primary-text-color);
}

.active {
  display: block;
}
.inactive {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text-color);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-bg-color);
}

@media (max-width: 768px) {
  main {
    margin: 5rem 1rem;
  }
  section {
    padding: 0;
  }
}