<section class="home" id="section1">
    <div class="home-content">
        <h1>Hola, me llamo <br>Felipe Ignacio Alarcón Contreras</h1>
        <h3 class="text-animation">Soy un <span></span></h3>
        <br>
        <p>
            Soy un desarrollador Full Stack con 5 años de experiencia y actualmente trabajo en NTT DATA, donde he colaborado con clientes de diversos sectores.
            Tengo experiencia utilizando diversas tecnologías de front-end, back-end, bases de datos, herramientas DevOps y metodologías ágiles como SCRUM.
        </p>
        <div class="social-icons">
            <a href="#" (click)="redirectWindow('linkedin')"><i class='bx bxl-linkedin'></i></a>
            <a href="#" (click)="redirectWindow('github')"><i class='bx bxl-github'></i></a>
            <a href="#" (click)="redirectWindow('gmail')"><i class='bx bxl-gmail'></i></a>
            <a href="#" (click)="redirectWindow('whatsapp')"><i class='bx bxl-whatsapp'></i></a>
        </div>
        <!--<button class="btn">Contactar</button>-->
    </div>
</section>

<app-experience></app-experience>

<app-education></app-education>

<app-skills></app-skills>