.education {
    color: #0a0a0a;
}

.education h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.education-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.education-box {
    background-color: #332ae3;
    height: 300px;
    border-radius: 2rem;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.education-box:hover {
    background: #fff;
    color: #0a0a0a;
    border: 5px solid #332ae3;
    transform: scale(1.03);
}

.education-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 250px;
    justify-content: left;
    align-items: baseline;
    padding: 2rem 2rem;
}

.education-info h4 {
    font-size: 1.8rem;
    font-weight: 800;
}

.education-info h5 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.education-info p {
    font-size: 1.4rem;
    font-weight: 600;
    margin: auto;
}