.home {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-areas: 
    'title link'
    'description link';
}

.title_content {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  color: var(--primary-text-color);
}

.description_content {
  grid-area: description;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  width: 100%;
  color: var(--secondary-text-color);
}

.typing_content {
  position: relative;
  width: fit-content;
}

.typing_text {
  color: var(--secondary-bg-color);
  border-right: 3px solid var(--secondary-bg-color);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(35), blink-caret 0.3s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--secondary-bg-color); }
}

@media (max-width: 991px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'title'
      'description'
      'link';
    gap: 1.5rem;
  }

  .title_content {
    font-size: 6vw;
  }

  .description_content {
    font-size: 5vw;
  }
}