.home {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.home-link {
  width: 40%;
}

.home-content h1 {
  text-align: left;
  color: var(--primary-text-color);
  font-size: 6rem;
  font-weight: 700;
}

.home-content h2 {
  text-align: left;
  color: var(--primary-text-color);
  font-size: 5.5rem;
  font-weight: 600;
}

.home-content p {
  font-size: 3rem;
  max-width: 90%;
}

.social-icons {
  margin: 1.5rem 0;
}

.social-icons a {
  display: inline-flex;
  border-radius: 4rem;
  color: var(--primary-text-color);
  width: 100%;
  font-size: 2.5rem;
  padding: 1rem 3rem;
  margin: 0.8rem 0;
  transition: 0.3s ease-in-out;
}

.social-icons a b {
  margin: 0 auto;
}

.social-icons a:hover {
  transform: scale(1) translateY(-5px);
}

.typing-text {
  color: var(--secondary-bg-color);
  display: inline-block;
  border-right: 3px solid var(--secondary-bg-color);
  font-size: 5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(35), blink-caret 0.3s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--secondary-bg-color); }
}

@media (max-width: 1280px) {
  .home {
    flex-direction: column;
  }
  .home-content, .home-link {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-content {
    margin-top: 6rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h2 {
    font-size: 2.5rem;
  }
  .home-content p {
    font-size: 2rem;
    max-width: 100%;
  }
  .typing-text {
    font-size: 2rem;
  }
  .social-icons a {
    font-size: 2rem;
  }
}