.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-top: 2rem;
}

.home-content h1 {
  text-align: left;
  color: var(--primary-text-color);
  font-size: 6rem;
  font-weight: 700;
}

.home-content p {
  font-size: 3rem;
  max-width: 60%;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid var(--secondary-text-color);
  color: var(--primary-text-color);
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin: 3rem 1rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--secondary-text-color);
  background-color: var(--secondary-text-color);
}

.typing-text {
  color: var(--secondary-bg-color);
  display: inline-block;
  border-right: 3px solid var(--secondary-bg-color);
  font-size: 5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(35), blink-caret 0.3s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--secondary-bg-color); }
}

@media (max-width: 768px) {
  .home-content {
    margin-top: 6rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content p {
    font-size: 2rem;
    max-width: 100%;
  }
  .typing-text {
    font-size: 2rem;
  }
  .social-icons a {
    width: 4rem;
    height: 4rem;
    margin: 2.5rem .4rem;
  }
}