.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 2rem;
}

.home-content h1 {
  color: var(--primary-text-color);
  font-size: 4rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 800px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid var(--secondary-text-color);
  color: var(--primary-text-color);
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin: 1.3rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--secondary-text-color);
  background-color: var(--secondary-text-color);
}

.typing-container {
  text-align: left;
}

.typing-text {
  color: var(--secondary-bg-color);
  display: inline-block;
  border-right: 3px solid var(--secondary-bg-color);
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(35), blink-caret 0.3s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--secondary-bg-color); }
}

@media (max-width: 599px) {
  .home {
    flex-direction: column-reverse;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .typing-text {
    font-size: 2rem;
  }
}