<div>
    <h3>Experiencia</h3>
    <h4>NTT DATA</h4>
    <img src="assets/img/ntt-data.png" alt="ntt-data" height="80" width="80">

    <div>
        <h5>2020 - 2022 (3 años)</h5>
        <h5>Desarrollador Full-stack</h5>
        <p>
        He trabajado en la creación de un aplicativo web llamado “New LDI”, 
        el cual sirve para toda la gestión de los clientes de larga distancia y del Carrier 188 y 181.
        </p>
    </div>
    <div>
        <h5>2021 - 2022 (1 año)</h5>
        <h5>Desarrollador Mobile</h5>
        <p>
        He trabajado en el mantenimiento de una aplicación movil de llamada “App Delivery”, 
        el cual sirve para que los despachadores de quipos moviles puedan gestionar las entregas. 
        </p>
    </div>
    <div>
        <h5>2023 (1.5 año)</h5>
        <h5>Desarrollador Full-stack</h5>
        <p>
        He trabajado en el desarrollo un aplicativo web llamado "Resolutor Web", 
        que sirve para poder gestionar los reclamos de la atención al cliente de Movistar TV.
        </p>
    </div>
    <div>
        <h5>2023 - Actualmente (1.5 año)</h5>
        <h5>Desarrollador Full-stack</h5>
        <p>
        Estoy trabajando en el mantenimiento de un aplicativo de llamado “Registro MTV”, 
        el cual sirve para que un cliente pueda registrarse y activar el servicio Movistar TV. 
        </p>
    </div>
</div>