h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.timeline-title {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 40%;
    background-color: #332ae3;
    padding: 10px 15px;
    box-shadow: 0 0 30px #332ae3;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #332ae3;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 2.5rem;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #332ae3;
    box-shadow: 0 0 25px #332ae3, 0 0 50px #332ae3;
    position: absolute;
    left: calc(50% - 9px);
    border-radius: 50%;
    top: 0px;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}


.timeline-content {
    border: 3px solid #332ae3;
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    box-shadow: 0 0 10px #332ae3;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #332ae3;
}

.timeline-content h3 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #332ae3;
}

::-webkit-scrollbar-track {
    background-color: #0a0a0a;
    width: 50px;
}